<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PATRICK204NQH | Dashboard</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome Icons -->
  <%= stylesheet_link_tag "/backend/ui_v2/plugins/fontawesome-free/css/all.min.css", media: "all" %>
  <%# <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css"> %>
  <!-- overlayScrollbars -->
  <%= stylesheet_link_tag "/backend/ui_v2/plugins/overlayScrollbars/css/OverlayScrollbars.min.css", media: "all" %>
  <%# <link rel="stylesheet" href="plugins/overlayScrollbars/css/OverlayScrollbars.min.css"> %>
  <!-- Theme style -->
  <%= stylesheet_link_tag "/backend/ui_v2/dist/css/adminlte.min.css", media: "all" %>
  <%# <link rel="stylesheet" href="dist/css/adminlte.min.css"> %>
</head>

<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">

<%= yield %>

<!-- REQUIRED SCRIPTS -->
<!-- jQuery -->
<%= javascript_include_tag "/backend/ui_v2/plugins/jquery/jquery.min.js" %>
<%# <script src="plugins/jquery/jquery.min.js"></script> %>
<!-- Bootstrap -->
<%= javascript_include_tag "/backend/ui_v2/plugins/bootstrap/js/bootstrap.bundle.min.js" %>
<%# <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script> %>
<!-- overlayScrollbars -->
<%= javascript_include_tag "/backend/ui_v2/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js" %>
<%# <script src="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script> %>
<!-- AdminLTE App -->
<%= javascript_include_tag "/backend/ui_v2/dist/js/adminlte.js" %>
<%# <script src="dist/js/adminlte.js"></script> %>

<!-- PAGE PLUGINS -->
<!-- jQuery Mapael -->
<%= javascript_include_tag "/backend/ui_v2/plugins/jquery-mousewheel/jquery.mousewheel.js" %>
<%# <script src="plugins/jquery-mousewheel/jquery.mousewheel.js"></script> %>
<%= javascript_include_tag "/backend/ui_v2/plugins/raphael/raphael.min.js" %>
<%# <script src="plugins/raphael/raphael.min.js"></script> %>
<%= javascript_include_tag "/backend/ui_v2/plugins/jquery-mapael/jquery.mapael.min.jss" %>
<%# <script src="plugins/jquery-mapael/jquery.mapael.min.js"></script> %>
<%= javascript_include_tag "/backend/ui_v2/plugins/jquery-mapael/maps/usa_states.min.js" %>
<%# <script src="plugins/jquery-mapael/maps/usa_states.min.js"></script> %>
<!-- ChartJS -->

<%= javascript_include_tag "/backend/ui_v2/plugins/chart.js/Chart.min.js" %>
<%# <script src="plugins/chart.js/Chart.min.js"></script> %>

<!-- Customize setting on sidebar -->
<%= javascript_include_tag "/backend/ui_v2/dist/js/customize-sidebar.js" %>
<%# <script src="dist/js/demo.js"></script> %>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<%= javascript_include_tag "/backend/ui_v2/dist/js/pages/dashboard2.js" %>
<%# <script src="dist/js/pages/dashboard2.js"></script> %>
</body>
</html>
