<!DOCTYPE html>
<html lang="en">
<head>
  <title>PATRICK204NQH | Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csp_meta_tag %>
  <%= csrf_meta_tags %>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome Icons -->
  <%= stylesheet_link_tag "/backend/plugins/fontawesome-free/css/all.min.css", media: "all" %>
  <!-- Ekko Lightbox -->
  <%= stylesheet_link_tag "/backend/plugins/ekko-lightbox/ekko-lightbox.css" %>
  <%# <link rel="stylesheet" href="../plugins/ekko-lightbox/ekko-lightbox.css"> %>
  <!-- overlayScrollbars -->
  <%= stylesheet_link_tag "/backend/plugins/overlayScrollbars/css/OverlayScrollbars.min.css", media: "all" %>
  <!-- Theme style -->
  <%= stylesheet_link_tag "/backend/dist/css/adminlte.min.css", media: "all" %>
  <%= javascript_pack_tag 'application' %> <%# To run method delete %>
  <%# My custom %>
  <%= stylesheet_link_tag "/backend/assets/css/style.css", media: "all" %>
</head>

<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">

<div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__wobble" src="/backend/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
  </div>

  <!-- Main Sidebar Container -->
  <%= render 'erp/backend/components/nav/topnav' %>
  <!-- /.main-sidebar-container -->
  <!-- Navbar -->
  <%= render 'erp/backend/components/nav/sidenav' %>
  <!-- /.navbar -->

  <!-- Content Wrapper. Contains page content -->
  <%= yield %>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

  <%= render 'erp/backend/components/footer' %>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->
<!-- jQuery -->
<%= javascript_include_tag "/backend/plugins/jquery/jquery.min.js" %>
<!-- Bootstrap -->
<%= javascript_include_tag "/backend/plugins/bootstrap/js/bootstrap.bundle.min.js" %>
<!-- overlayScrollbars -->
<%= javascript_include_tag "/backend/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js" %>
<!-- Ekko Lightbox -->
<%= javascript_include_tag "/backend/plugins/ekko-lightbox/ekko-lightbox.min.js" %>
<!-- AdminLTE App -->
<%= javascript_include_tag "/backend/dist/js/adminlte.js" %>
<!-- Filterizr-->
<%= javascript_include_tag "/backend/plugins/filterizr/jquery.filterizr.min.js" %>

<!-- PAGE PLUGINS -->
<!-- jQuery Mapael -->
<%= javascript_include_tag "/backend/plugins/jquery-mousewheel/jquery.mousewheel.js" %>
<%= javascript_include_tag "/backend/plugins/raphael/raphael.min.js" %>
<%= javascript_include_tag "/backend/plugins/jquery-mapael/jquery.mapael.min.jss" %>
<%= javascript_include_tag "/backend/plugins/jquery-mapael/maps/usa_states.min.js" %>
<!-- ChartJS -->
<%= javascript_include_tag "/backend/plugins/chart.js/Chart.min.js" %>
<!-- Customize setting on sidebar -->
<%= javascript_include_tag "/backend/dist/js/customize-sidebar.js" %>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<%= javascript_include_tag "/backend/dist/js/pages/dashboard2.js" %>
<%# My custom %>
<%= javascript_include_tag "/backend/assets/js/custom.js" %>
<!-- Page specific script -->
<script>
  $(function () {
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
      event.preventDefault();
      $(this).ekkoLightbox({
        alwaysShowClose: true
      });
    });

    $('.filter-container').filterizr({gutterPixels: 3});
    $('.btn[data-filter]').on('click', function() {
      $('.btn[data-filter]').removeClass('active');
      $(this).addClass('active');
    });
  })
</script>
</body>
</html>
